@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, rgb(17, 24, 39), rgb(75, 85, 99));
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;

}
/*animaciones*/
.animate__fadeIn {
    animation-duration: 5s; /* Cambia la duración a 2 segundos */
}

span{
    color: #d07209;
    font-weight: bold;
}

/*NavBar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 15px 20px;
}

.navbar .logo {
    margin-right: 50px; /* Espacio entre el logo y el menú */
}

.navbar .logo img {
    height: 100px;
    width: auto;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap; /* Evita saltos de línea en los elementos */
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: orange;
}

.navbar ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px; /* Ancho mínimo para evitar saltos de línea */
}


.navbar ul li:hover .dropdown {
    display: block;
}

.navbar ul .dropdown li {
    margin: 5px 0;
}

.navbar ul .dropdown li a {
    color: white;
}

.navbar ul .dropdown li a:hover {
    color: orange;
}



/* Submenú dentro de Logística Industrial */
.navbar ul .dropdown .dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
}

.navbar ul .dropdown li:hover .dropdown-submenu {
    display: block;
}

.navbar ul .dropdown .dropdown-submenu li {
    margin: 5px 0;
}

.navbar ul .dropdown .dropdown-submenu li a {
    color: white;
}

.navbar ul .dropdown .dropdown-submenu li a:hover {
    color: orange;
}




/*Contenido*/
/*index*/
.presentation{
    color: white;    
}
.presentation h1{
    justify-content: center;
}
.content .presentation .presentation-texto h1{
    text-align: center;
    color:#d07209
    
}

.content .presentation .presentation-texto p{
    justify-content: center;
    
    text-align: center;
}


.content .presentation .presentation-texto p{
    justify-content: center;
    font-size: 15px;
    text-align: left;

}
.presentation-texto p {
    max-width: 60%; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el párrafo dentro del contenedor */
    letter-spacing: 2px;
}



/* Estilo general para centrar el contenido */
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
}

/* Estilo para centrar el botón */
.presentation-boton {
    margin-top: 20px; /* Espacio superior opcional */
}

.presentation-boton button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.presentation-boton button:hover {
    background-color: darkorange;
}

.presentation-boton a {
    text-decoration: none;
    color: white;
}

/*Footer*/

/* Contenedor principal para empujar el footer hacia abajo */
.content {
    flex: 1; /* Hace que este div ocupe todo el espacio disponible entre la navbar y el footer */
    padding: 20px; /* Opcional: Agrega un poco de padding al contenido */
}

/* Footer */
.footer {
    background-color: #d07209;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    margin-top: auto; /* Asegura que el footer esté al final de la página */
    
    
    
}



.footer p {
    margin: 0;
}




/*PRODUCTOS INDUSTRIALES*/
.titulo-de-seccion {
    text-align: center; /* Centra el texto horizontalmente */
    color: #d07209; /* Cambia el color del texto a naranja */
  }
  
.product-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product-card {
    position: relative;
    width: 45%;
    margin: 10px;
    background-color: #34495e;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    color: white;
  }
  
  .product-info h2{
    color: #d07209;
  }
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    border-bottom: 2px solid #e67e22;
  }
  
  .product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product-card:hover .product-info {
    opacity: 1;
  }