@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;

}
/* Aplica el fondo solo a la página con la clase .home */
body.home {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url('./root/Assets/img/fondo/20180509_104416.jpg') no-repeat;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}




/* Resto del CSS */

/*animaciones*/
.animate__fadeIn {
    animation-duration: 5s; /* Cambia la duración a 2 segundos */
}

span{
    color: #d07209;
    font-weight: bold;
}

/*NavBar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 15px 20px;
}

.navbar .logo {
    margin-right: 50px; /* Espacio entre el logo y el menú */
}

.navbar .logo img {
    height: 100px;
    width: auto;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap; /* Evita saltos de línea en los elementos */
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: orange;
}

.navbar ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px; /* Ancho mínimo para evitar saltos de línea */
}


.navbar ul li:hover .dropdown {
    display: block;
}

.navbar ul .dropdown li {
    margin: 5px 0;
}

.navbar ul .dropdown li a {
    color: white;
}

.navbar ul .dropdown li a:hover {
    color: orange;
}



/* Submenú dentro de Logística Industrial */
.navbar ul .dropdown .dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
}

.navbar ul .dropdown li:hover .dropdown-submenu {
    display: block;
}

.navbar ul .dropdown .dropdown-submenu li {
    margin: 5px 0;
}

.navbar ul .dropdown .dropdown-submenu li a {
    color: white;
}

.navbar ul .dropdown .dropdown-submenu li a:hover {
    color: orange;
}




/*Contenido*/
/*index*/
.presentation{
    color: white;    
}
.presentation h1{
    justify-content: center;
}
.content .presentation .presentation-texto h1{
    text-align: center;
    color:#d07209
    
}

.content .presentation .presentation-texto p{
    justify-content: center;
    
    text-align: center;
}


.content .presentation .presentation-texto p{
    justify-content: center;
    font-size: 15px;
    text-align: left;

}
.presentation-texto p {
    max-width: 60%; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el párrafo dentro del contenedor */
    letter-spacing: 2px;
}



/* Estilo general para centrar el contenido */
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
}

/* Estilo para centrar el botón */
/* Estilo para el contenedor del botón */
.boton-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el botón */
/* Añadir separación entre el texto y el botón */
.presentation-texto {
    margin-bottom: 20px; /* Ajusta el valor según el espacio que necesites */
}

/* Estilo para el contenedor del botón */
.boton-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el botón */
.boton-contacto button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #FFA500; /* Cambiar borde a naranja */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Estilo para el enlace dentro del botón */
.boton-contacto button a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Flecha dentro del botón */
.boton-contacto button a::before {
    content: '\2192'; /* Unicode para la flecha */
    margin-right: 10px;
}

/* Estilo al pasar el mouse */
.boton-contacto button:hover {
    background-color: #FFA500; /* Cambiar fondo a naranja en hover */
    color: #000000;
}

.boton-contacto button:hover a {
    color: #000000;
}



.presentation-boton button:hover {
    background-color: darkorange;
}

.presentation-boton a {
    text-decoration: none;
    color: white;
}

/*Footer*/

/* Contenedor principal para empujar el footer hacia abajo */
.content {
    flex: 1; /* Hace que este div ocupe todo el espacio disponible entre la navbar y el footer */
    padding: 20px; /* Opcional: Agrega un poco de padding al contenido */
}

/* Footer */
.footer {
    background-color: #d07209;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    margin-top: auto; /* Asegura que el footer esté al final de la página */
    
    
    
}



.footer p {
    margin: 0;
}




/*PRODUCTOS INDUSTRIALES*/
/* Estilos específicos para la página de productos industriales */
body.logisticaindustrial{
    background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}
body.logisticaindustrial .titulo-de-seccion {
    text-align: center; /* Centra el texto horizontalmente */
    color: #d07209; /* Cambia el color del texto a naranja */
}

body.logisticaindustrial .product-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

body.logisticaindustrial .product-card {
    position: relative;
    width: 40%; /* Reduce el ancho de la card para achicarla */
    margin: 10px;
    background-color: #34495e;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    color: white;
}

body.logisticaindustrial .product-info h2 {
    color: #d07209;
    font-weight: bold;
}

body.logisticaindustrial .product-card:hover {
    transform: scale(1.05);
}

body.logisticaindustrial .product-image {
    width: 100%;
    height: 450px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
    border-bottom: 2px solid #e67e22;
}

body.logisticaindustrial .product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
}

body.logisticaindustrial .product-card:hover .product-info {
    opacity: 1;
}


/*Contactos*/
/* Sección de contacto */
/* Sección de contacto */
body.contacto{
    background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0))
 }
/* Estilos específicos para la página de contacto */
body.contacto .contact-section {
    padding: 40px 20px;
  
}

body.contacto .container {
    max-width: 800px;
    margin: 0 auto;
}

body.contacto h2 {
    text-align: center;
    color: #d07209; /* Color naranja para el título */
    margin-bottom: 20px;
}

body.contacto .form-group {
    margin-bottom: 20px;
}

body.contacto label {
    display: block;
    margin-bottom: 5px;
    color: #34495e; /* Color oscuro para las etiquetas */
    font-weight: bold;
}

body.contacto input,
body.contacto textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

body.contacto button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #d07209; /* Botón naranja */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body.contacto button[type="submit"]:hover {
    background-color: #e67e22; /* Color más oscuro al pasar el mouse */
}
