@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(5, 7, 9, 0.75), rgba(5, 7, 9, 0.75)), url('./root/Assets/img/fondo/bg.png');
    min-height: 100vh;
    /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;

}

h1 h2 h3 h4 {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

h3 h4 h5 {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

p,
span {
    font-family: "Montserrat", sans-serif;
}


strong {
    color: #d07209;
}



/* Resto del CSS */

/*animaciones*/
.animate__fadeIn {
    animation-duration: 5s;
    /* Cambia la duración a 2 segundos */
}

span {
    color: #d07209;
    font-weight: bold;
}

/*NavBar*/
/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    /* Distribuye espacio entre logo y el menú */
    align-items: center;
    /* Centra verticalmente los elementos */
    background: linear-gradient(to right, rgba(12, 14, 15, 0.5), rgba(208, 114, 9, 0.5));
    height: 150px;
    padding: 15px 20px;

}
.navbar a{
    text-transform: uppercase;
}
.navbar .logo {
    margin-left: 400px;
    /* Elimina espacio innecesario */
    display: flex;
    /* Mantiene el logo en flexbox */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;

}

.navbar .logo img {
    height: 100px;
    width: auto;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* Mantiene los elementos del menú alineados verticalmente */
    margin-right: 550px;
}

.navbar ul li {
    position: relative;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    /* Evita saltos de línea en los elementos */
    transition: color 0.3s ease;
    font-size: 17px;
}

.navbar ul li a:hover {
    color: orange;
}

.navbar ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    min-width: 200px;
    /* Ancho mínimo para evitar saltos de línea */
}

.navbar ul li:hover .dropdown {
    display: block;
}

.navbar ul .dropdown li {
    margin: 5px 0;
}

.navbar ul .dropdown li a {
    color: white;
}

.navbar ul .dropdown li a:hover {
    color: orange;
}



/* Submenú dentro de Logística Industrial */
.navbar ul .dropdown .dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
}

.navbar ul .dropdown li:hover .dropdown-submenu {
    display: block;
}

.navbar ul .dropdown .dropdown-submenu li {
    margin: 5px 0;
}

.navbar ul .dropdown .dropdown-submenu li a {
    color: white;
}

.navbar ul .dropdown .dropdown-submenu li a:hover {
    color: orange;
}


/* Submenú dentro de Logística Industrial */





/*Contenido*/
/*index*/
.presentation {
    color: white;
}

.presentation h1 {
    justify-content: center;
    margin-top: 40px;
}

.content .presentation .presentation-texto h1 {
    text-align: center;
    color: #d07209
}

.presentation-text {
    text-align: justify;

}

.content .presentation .presentation-texto p {
    justify-content: center;
    text-align: justify;

}


.content .presentation .presentation-texto p {
    justify-content: center;
    font-size: 15x;
    text-align: left;

}

.presentation-texto p {
    max-width: 60%;
    /* Ajusta este valor según tus necesidades */
    margin: 0 auto;
    /* Centra el párrafo dentro del contenedor */
    letter-spacing: 2px;
}



/* Estilo general para centrar el contenido */
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    text-align: center;
    /* Asegura que el texto también esté centrado */
}

/* Estilo para centrar el botón */
/* Estilo para el contenedor del botón */
.boton-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el botón */
/* Añadir separación entre el texto y el botón */
.presentation-texto {
    margin-bottom: 20px;
    /* Ajusta el valor según el espacio que necesites */
}

/* Estilo para el contenedor del botón */
.boton-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el botón */
.boton-contacto button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #FFA500;
    /* Cambiar borde a naranja */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Estilo para el enlace dentro del botón */
.boton-contacto button a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Flecha dentro del botón */
.boton-contacto button a::before {
    content: '\2192';
    /* Unicode para la flecha */
    margin-right: 10px;
}

/* Estilo al pasar el mouse */
.boton-contacto button:hover {
    background-color: #FFA500;
    /* Cambiar fondo a naranja en hover */
    color: #000000;
}

.presentation-boton button:hover {
    background-color: darkorange;
}

.presentation-boton a {
    text-decoration: none;
    color: white;
}

/* productos destacados */
.productos-destacados {

    padding: 20px;
    text-align: center;
    background-color: transparent;

    margin-top: 50px;
}

.productos-destacados h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #d07209;
    font-weight: bold;
}

.productos-destacados .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacio entre los productos */
    margin-top: 20px;
    /* Ajusta la distancia según sea necesario */
}

.producto {
    width: 45%;
    text-align: left;
    background-color: transparent;
    border-radius: 5px;
    padding: 15px;
}

.producto img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #d07209;

}

.producto h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #d07209;
}

.producto p {
    font-size: 1em;
    margin: 10px 0;
    color: white;
}

.producto button {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ff8c00;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.producto button::before {
    content: '→';
    margin-right: 10px;
}

.producto button a {
    color: #ffffff;
    text-decoration: none;
}

.producto button:hover {
    background-color: #ff8c00;
    color: #ffffff;
}

.producto button:hover a {
    color: #ffffff;
}



/*Footer*/

/* Contenedor principal para empujar el footer hacia abajo */
.content {
    flex: 1;
    /* Hace que este div ocupe todo el espacio disponible entre la navbar y el footer */
    padding: 5px;
    /* Opcional: Agrega un poco de padding al contenido */
}

/* Footer */
.footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    height: 5%;

    margin-top: auto;
    /* Asegura que el footer esté al final de la página */



}



.footer p {
    margin: 0;
}




/*PRODUCTOS INDUSTRIALES*/

body.logistica-industrial .titulo-de-seccion {
    text-align: center;
    /* Centra el texto horizontalmente */
    color: #d07209;
    /* Cambia el color del texto a naranja */
    font-size: 2.5rem;
    /* Ajusta el tamaño del texto para hacerlo más prominente */
    margin-top: 20px;
}

body.logistica-industrial .carousel-image-wrapper {
    position: relative;
    /* Asegura que el overlay y el texto se posicionen correctamente */
}

body.logistica-industrial .image-overlay {
    background: rgba(5, 7, 9, 0.5);
    /* Color semitransparente */
    position: absolute;
    /* Posiciona el overlay sobre la imagen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* Asegura que el overlay esté por encima de la imagen */
}

body.logistica-industrial .carousel-caption {
    z-index: 2;
    /* Asegura que el texto esté por encima del overlay */
    position: absolute;
    /* Permite el uso de z-index correctamente */
    top: 50%;
    /* Posiciona el texto verticalmente en el medio */
    left: 50%;
    /* Posiciona el texto horizontalmente en el medio */
    transform: translate(-50%, -50%);
    /* Centra el texto perfectamente */
    width: 80%;

}

.texto-informacion {
    color: white;
    width: 70%;
    height: 50%;
    text-align: justify;
    margin-bottom: 30%;
}

/* Asegúrate de que el contenedor del texto tenga el mismo ancho que el carrusel */
.texto-informacion {
    width: 100%;
    padding: 0 15px;
    /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
    /* Asegúrate de que el padding no afecte el ancho total */
}

/* Opcional: Agrega estilos para ajustar el tamaño del texto */
.texto-informacion p {
    font-size: 1rem;
    /* Ajusta el tamaño del texto según sea necesario */
    line-height: 1.6;
    /* Mejora la legibilidad del texto */
}

.titulo-de-seccion {
    font-weight: bold;
}

/*Rampa movil*/
.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.boton-video button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #FFA500;
    /* Cambiar borde a naranja */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
    color: #ffffff;
    transition: all 0.3s ease;
    margin: 10px;
}

.carousel-image-wrapper img {
    width: 500px;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 500px;
    /* Ajusta la altura de acuerdo a tus necesidades */
    object-fit: cover;
    /* Recorta la imagen para que cubra todo el área manteniendo su proporción */
}



/* Estilo para el enlace dentro del botón */
.boton-video button a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Flecha dentro del botón */
.boton-video button a::before {
    content: '\2192';
    /* Unicode para la flecha */
    margin-right: 10px;
}

/* Estilo al pasar el mouse */
.boton-video button:hover {
    background-color: #FFA500;
    /* Cambiar fondo a naranja en hover */
    color: #000000;
}

.boton-mas-info button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #FFA500;
    /* Cambiar borde a naranja */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
    color: #ffffff;
    transition: all 0.3s ease;
    margin: 10px;
}

/* Estilo para el enlace dentro del botón */
.boton-mas-info button a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Flecha dentro del botón */
.botonboton-mas-info button a::before {
    content: '\2192';
    /* Unicode para la flecha */
    margin-right: 10px;
}

/* Estilo al pasar el mouse */
.boton-mas-info button:hover {
    background-color: #FFA500;
    /* Cambiar fondo a naranja en hover */
    color: #000000;
}





/*Contactos*/

body.contacto .contact-section {
    padding: 40px 20px;
}

body.contacto .container {
    max-width: 1200px;
    margin: 0 auto;
}

body.contacto .form-map-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

body.contacto .map-container {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

body.contacto .map-container iframe {
    margin-bottom: 10px;
    margin-top: 20%;
}

body.contacto .facebook {
    text-align: center;
}

body.contacto .facebook img {
    width: 100px;
    height: auto;
    margin: 10px;
    margin-right: 30%;
    transition: transform 0.3s ease;
    /* Añade una transición suave */
}

body.contacto .facebook img:hover {
    transform: scale(1.2);
    /* Agranda la imagen al 120% de su tamaño original */
}


body.contacto .contact-form {
    flex: 2;
    max-width: 600px;
    width: 100%;
}

body.contacto h2 {
    text-align: center;
    color: #d07209;
    margin-bottom: 20px;
}

body.contacto .form-group {
    margin-bottom: 20px;
}

body.contacto label {
    display: block;
    margin-bottom: 5px;
    color: #d07209;
    font-weight: bold;
}

body.contacto input,
body.contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
}

body.contacto button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

body.contacto button[type="submit"]:hover {
    background-color: #e67e22;
}

/* Media querys de 19 a 20 pulgadas */
@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to right, rgba(12, 14, 15, 0.5), rgba(208, 114, 9, 0.5));
        height: 150px;
        padding: 15px 20px;

    }

    .navbar .logo {
        margin-left: 400px;
        /* Elimina espacio innecesario */
        display: flex;
        /* Mantiene el logo en flexbox */
        align-items: center;
        /* Centra verticalmente */
        justify-content: center;

    }

    .navbar .logo img {
        height: 90px;
        width: auto;
    }

    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        /* Mantiene los elementos del menú alineados verticalmente */
        margin-right: 490px;
    }

    .navbar ul li {
        position: relative;
        margin: 0 15px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        white-space: nowrap;
        /* Evita saltos de línea en los elementos */
        transition: color 0.3s ease;
        font-size: 17px;
    }

    .navbar ul li a:hover {
        color: orange;
    }

    .navbar ul .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        padding: 10px;
        z-index: 1;
        border-radius: 5px;
        min-width: 200px;
        /* Ancho mínimo para evitar saltos de línea */
    }

    .navbar ul li:hover .dropdown {
        display: block;
    }

    .navbar ul .dropdown li {
        margin: 5px 0;
    }

    .navbar ul .dropdown li a {
        color: white;
    }

    .navbar ul .dropdown li a:hover {
        color: orange;
    }



    /* Submenú dentro de Logística Industrial */
    .navbar ul .dropdown .dropdown-submenu {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: black;
        padding: 10px;
        border-radius: 5px;
        min-width: 200px;
    }

    .navbar ul .dropdown li:hover .dropdown-submenu {
        display: block;
    }

    .navbar ul .dropdown .dropdown-submenu li {
        margin: 5px 0;
    }

    .navbar ul .dropdown .dropdown-submenu li a {
        color: white;
    }

    .navbar ul .dropdown .dropdown-submenu li a:hover {
        color: orange;
    }

}

/* MediaQuery de 22 a 24 pulgadas */
@media screen and (min-width: 1680px) and (max-width: 1920px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to right, rgba(12, 14, 15, 0.5), rgba(208, 114, 9, 0.5));
        height: 150px;
        padding: 15px 20px;

    }

    .navbar .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 400px;

    }

    .navbar .logo img {
        height: 90px;
        width: auto;
        margin-left: 170px;
    }

    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-right: 680px;
    }

    .navbar ul li {
        position: relative;
        margin: 0 15px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        white-space: nowrap;
        /* Evita saltos de línea en los elementos */
        transition: color 0.3s ease;
        font-size: 17px;
    }

    .navbar ul li a:hover {
        color: orange;
    }

    .navbar ul .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        padding: 10px;
        z-index: 1;
        border-radius: 5px;
        min-width: 200px;
        /* Ancho mínimo para evitar saltos de línea */
    }

    .navbar ul li:hover .dropdown {
        display: block;
    }

    .navbar ul .dropdown li {
        margin: 5px 0;
    }

    .navbar ul .dropdown li a {
        color: white;
    }

    .navbar ul .dropdown li a:hover {
        color: orange;
    }



    /* Submenú dentro de Logística Industrial */
    .navbar ul .dropdown .dropdown-submenu {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: black;
        padding: 10px;
        border-radius: 5px;
        min-width: 200px;
    }

    .navbar ul .dropdown li:hover .dropdown-submenu {
        display: block;
    }

    .navbar ul .dropdown .dropdown-submenu li {
        margin: 5px 0;
    }

    .navbar ul .dropdown .dropdown-submenu li a {
        color: white;
    }

    .navbar ul .dropdown .dropdown-submenu li a:hover {
        color: orange;
    }

}